
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^dskyworks\.ru$ [OR]
RewriteCond %{HTTP_HOST} ^www\.dskyworks\.ru$
RewriteRule ^/?$ "https\:\/\/dskyworks\.ru\/" [R=301,L]

