/* Hero */

.hero {
  height: 849px;
  background: url('../images/hero/bg.jpg') no-repeat;
  background-position: center bottom;
  background-size: cover;
  will-change: background-position;

  @media (max-width: 1079px) {
    height: 565px;
  }
}

/* Hero (обертка) */

.hero__inner {
  @media (min-width: 1080px) {

  }

  @media (max-width: 1079px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Заголовок */

.hero__title {
  color: var(--white-absolute-color);
  font-weight: 800;
  font-size: 64px;
  line-height: 1.3;

  @media (min-width: 1080px) {
    padding-top: 180px;
  }

  @media (max-width: 1079px) {
    padding-top: 187px;
    font-size: 33px;
  }
}

/* Описание */

.hero__description {
  max-width: 540px;
  margin-top: 20px;
  color: var(--white-absolute-color);
  font-size: 18px;

  @media (min-width: 1080px) {

  }

  @media (max-width: 1079px) {
    width: 325px;
    font-size: 16px;
  }
}

/* Кнопка вызова */

.hero__button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 66px;
  margin-top: 72px;
  padding: 0 58px 0 18px;
  color: var(--black-absolute-color);
  font-weight: 700;
  font-size: 16px;
  background-color: var(--yellow-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

/* Иконка кнопки вызова */

.hero__button::after {
  content: '';
  position: absolute;
  right: 18px;
  width: 33px;
  height: 33px;
  background: url('../images/hero/ico-wheel.png') no-repeat center;
  background-size: cover;
}

/* Услуги */

.services {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;

  @media (min-width: 1080px) {
    height: 288px;
    margin-top: 84px;
  }

  @media (max-width: 1079px) {
    margin-top: 78px;
  }
}

/* Список карточек услуг */

.services__list {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;

  @media (min-width: 1080px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: 1079px) {
    flex-direction: column;
    align-items: center;
  }
}

/* Карточка услуг */

.services__item {
  width: 100%;
  border-radius: 10px;

  @media (min-width: 1080px) {
    max-width: 205px;
  }

  @media (max-width: 1079px) {
    max-width: 412px;
    height: 170px;
  }
}

.services__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.services__item-main {
  max-width: 412px;
  background:
    url('../images/hero/wheel-replace.jpg')
    var(--white-absolute-color) no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.services__item-main .services__link {
  color: var(--black-absolute-color);
}

.services__item--passenger {
  background-color: var(--yellow-color);
}

.services__item--passenger .services__link {
  position: relative;
  color: var(--black-absolute-color);

  @media (min-width: 1080px) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 13px;
      display: block;
      width: 108px;
      height: 108px;
      background: url('../images/hero/sedan.png') no-repeat;
      background-size: contain;
      opacity: 50%;
    }
  }

  @media (max-width: 1079px) {
    &::after {
      content: '';
      position: absolute;
      right: 13px;
      bottom: 0;
      display: block;
      width: 108px;
      height: 108px;
      background: url('../images/hero/sedan.png') no-repeat;
      background-size: contain;
      opacity: 50%;
    }
  }
}

.services__item--crossover {
  background-color: var(--gray-color);
}

.services__item--crossover .services__link {
  position: relative;
  color: var(--white-absolute-color);

  @media (min-width: 1080px) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 13px;
      display: block;
      width: 108px;
      height: 108px;
      background: url('../images/hero/jeep.png') no-repeat;
      background-size: contain;
      opacity: 50%;
    }
  }

  @media (max-width: 1079px) {
    &::after {
      content: '';
      position: absolute;
      right: 13px;
      bottom: 0;
      display: block;
      width: 108px;
      height: 108px;
      background: url('../images/hero/jeep.png') no-repeat;
      background-size: contain;
      opacity: 50%;
    }
  }
}

.services__item--truck {
  background-color: var(--cyan-color);
}

.services__item--truck .services__link {
  position: relative;
  color: var(--black-absolute-color);

  @media (min-width: 1080px) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 13px;
      display: block;
      width: 108px;
      height: 108px;
      background: url('../images/hero/truck.png') no-repeat;
      background-size: contain;
      opacity: 50%;
    }
  }

  @media (max-width: 1079px) {
    &::after {
      content: '';
      position: absolute;
      right: 13px;
      bottom: 0;
      display: block;
      width: 108px;
      height: 108px;
      background: url('../images/hero/truck.png') no-repeat;
      background-size: contain;
      opacity: 50%;
    }
  }
}

.services__card-price {
  display: inline-block;
  padding: 3px 14px;
  font-weight: 300;
  font-size: 14px;
  background-color: rgb(0 0 0 / 10%);
  border-radius: 5px;
}

.services__card-title {
  margin-top: 13px;


  @media (max-width: 1079px) {
    width: 231px;
  }
}

.services__item-main .services__card-title {
  position: relative;
  margin-top: 18px;
  padding-bottom: 20px;
  font-weight: 800;

  @media (min-width: 1080px) {
    font-size: 30px;
  }

  @media (max-width: 1079px) {
    font-size: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 88px;
    height: 5px;
    background-color: var(--black-absolute-color);
    border-radius: 5px;
  }
}

.services__card-description {
  margin-top: 18px;
}
