.hours24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 128px 10px 107px;
  background: url('../images/hours24/left.svg'), url('../images/hours24/right.svg'), var(--yellow-color);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom 60px, right;

  @media (max-width: 450px) {
    background: var(--yellow-color);
  }
}

.hours24__title {
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 1080px) {
    max-width: 700px;
    font-size: 45px;
  }

  @media (max-width: 1079px) {
    width: 260px;
    font-size: 30px;
  }
}

.hours24__form {
  width: 100%;

  @media (min-width: 1080px) {
    margin-top: 50px;
  }

  @media (max-width: 1079px) {
    flex-direction: column;
    margin-top: 35px;
  }
}
