.partners {
  @media (min-width: 1080px) {
    padding-top: 92px;
    padding-bottom: 150px;
  }

  @media (max-width: 1079px) {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}

.partners__title {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 1080px) {
    font-size: 45px;
  }

  @media (max-width: 1079px) {
    font-size: 30px;
  }
}

.swiper {
  position: relative;
  width: 100%;


  @media (min-width: 1080px) {
    height: 400px;
    margin-top: 78px;
  }

  @media (max-width: 1079px) {
    max-width: 520px;
    height: 505px;
    margin-top: 13px;
  }
}

.partners__list {
  color: var(--white-absolute-color);
}

.partners__item {
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--white-absolute-color);
  border: 2px solid rgb(73 104 129 / 10%);
  border-radius: 10px;
  user-select: none;

  @media (min-width: 1080px) {
    width: 200px;
    height: 175px;
  }

  @media (max-width: 1079px) {
    width: 160px;
    height: 140px;
  }
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.partners__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-buttons {
  position: absolute;
  right: 0;
  bottom: 5px;

  @media (min-width: 1080px) {
    width: 70px;
    height: 32px;
  }

  @media (max-width: 1079px) {
    width: 120px;
    height: 55px;
  }
}

.swiper-button-prev {
  top: 0;
  left: 0;
  margin: 0;
  background: url('../images/partners/swiper-buttons/arrow.svg') center no-repeat;
  background-size: contain;
  border: 2px solid rgb(73 104 129 / 10%);
  border-radius: 50%;
  transform: rotate(180deg);

  &::after {
    content: '';
  }

  @media (min-width: 1080px) {
    width: 32px;
    height: 100%;
  }

  @media (max-width: 1079px) {
    width: 55px;
    height: 100%;
  }
}

.swiper-button-next {
  top: 0;
  right: 0;
  margin: 0;
  background: url('../images/partners/swiper-buttons/arrow.svg') center no-repeat;
  background-size: contain;
  border: 2px solid rgb(73 104 129 / 10%);
  border-radius: 50%;

  &::after {
    content: '';
  }

  @media (min-width: 1080px) {
    width: 32px;
    height: 100%;
  }

  @media (max-width: 1079px) {
    width: 55px;
    height: 100%;
  }
}
