.container {
  max-width: var(--container-size);
  margin: 0 auto;
  padding: 0 10px;
}

.html {
  scroll-behavior: smooth;
}

.body {
  overflow-x: hidden;
  font-family: var(--main-font);
  background-color: var(--white-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.html--lock {
  overflow: hidden;
}

.body--lock {
  overflow: hidden;
}
