/* Manrope Light */

@font-face {
  font-weight: 300;
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/manrope-light.woff2');
}

/* Manrope Regular */

@font-face {
  font-weight: 400;
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/manrope-regular.woff2');
}

/* Manrope Medium */

@font-face {
  font-weight: 500;
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/manrope-medium.woff2');
}

/* Manrope SemiBold */

@font-face {
  font-weight: 600;
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/manrope-semibold.woff2');
}

/* Manrope Bold */

@font-face {
  font-weight: 700;
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/manrope-bold.woff2');
}

/* Manrope ExtraBold */

@font-face {
  font-weight: 800;
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/manrope-extrabold.woff2');
}
