:root {
  /* Sizes */
  --container-size: 1080px;

  /* Fonts */
  --main-font: 'Manrope', sans-serif;

  /* Colors */
  --cyan-color: #5bbfc8;
  --white-absolute-color: #fff;
  --white-color: #f6f4f4;
  --black-color: #17181c;
  --black-absolute-color: #000;
  --gray-color: #4b5257;
  --light-gray-color: #c4c4c4;
  --yellow-color: #ffd300;
  --pink-color: #d07c75;
}
